In [3]:
import pandas as pd

sr1 = pd.DataFrame({'A':[1,2,3,4], 'B':[5,6,7,8]})
sr2 = pd.DataFrame({'C':[5,6,7,8], 'D':[5,6,7,8]})
pd.concat([sr1, sr2], axis=1,join="inner")

   A  B  C  D
0  1  5  5  5
1  2  6  6  6
2  3  7  7  7
3  4  8  8  8

In [5]:
import pandas as pd

sr1 = pd.DataFrame({'A':[1,2,3,4], 'B':[5,6,7,8]})
sr2 = pd.DataFrame({'C':[5,6,7,8], 'D':[5,6,7,8]})
pd.concat([sr1, sr2], axis=1,join="outer")

   A  B  C  D
0  1  5  5  5
1  2  6  6  6
2  3  7  7  7
3  4  8  8  8

In [7]:
import pandas as pd

sr1 = pd.DataFrame({'A':[1,2,3,4], 'B':[5,6,7,8]})
sr2 = pd.DataFrame({'C':[5,6,7,8], 'D':[5,6,7,8]})
pd.concat([sr1, sr2], axis=1,keys=['sr1','sr2'])

  sr1    sr2
    A  B   C  D
0   1  5   5  5
1   2  6   6  6
2   3  7   7  7
3   4  8   8  8

In [9]:
import pandas as pd

sr1 = pd.DataFrame({'A':[1,2,3,4], 'B':[5,6,7,8]})
sr2 = pd.DataFrame({'C':[5,6,7,8], 'D':[5,6,7,8]})
pd.concat([sr1, sr2], axis=0,keys=['sr1','sr2'])

         A    B    C    D
sr1 0  1.0  5.0  NaN  NaN
    1  2.0  6.0  NaN  NaN
    2  3.0  7.0  NaN  NaN
    3  4.0  8.0  NaN  NaN
sr2 0  NaN  NaN  5.0  5.0
    1  NaN  NaN  6.0  6.0
    2  NaN  NaN  7.0  7.0
    3  NaN  NaN  8.0  8.0