In [ ]:
import pandas as pd

In [ ]:
var = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'var': [10, 20, 30, 40, 50],
    'other_col': ['a', 'b', 'c', 'd', 'e']
})
var

In [9]:
pd.melt(var, id_vars=["A", "B"], value_vars=["C", "D"])

    A   B variable value
0  A0  B0        C    C0
1  A1  B1        C    C1
2  A2  B2        C    C2
3  A3  B3        C    C3
4  A0  B0        D    D0
5  A1  B1        D    D1
6  A2  B2        D    D2
7  A3  B3        D    D3