In [4]:
import pandas as pd

var = pd.read_csv(r"D:\hotel_bookings.csv")
var

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [6]:
var.replace(to_replace=0,value=12)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,12,342,2015,July,27,1,12,12,2,...,No Deposit,NaN,NaN,12,Transient,12.00,12,12,Check-Out,2015-07-01
1,Resort Hotel,12,737,2015,July,27,1,12,12,2,...,No Deposit,NaN,NaN,12,Transient,12.00,12,12,Check-Out,2015-07-01
2,Resort Hotel,12,7,2015,July,27,1,12,1,1,...,No Deposit,NaN,NaN,12,Transient,75.00,12,12,Check-Out,2015-07-02
3,Resort Hotel,12,13,2015,July,27,1,12,1,1,...,No Deposit,304.0,NaN,12,Transient,75.00,12,12,Check-Out,2015-07-02
4,Resort Hotel,12,14,2015,July,27,1,12,2,2,...,No Deposit,240.0,NaN,12,Transient,98.00,12,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,12,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,12,Transient,96.14,12,12,Check-Out,2017-09-06
119386,City Hotel,12,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,12,Transient,225.43,12,2,Check-Out,2017-09-07
119387,City Hotel,12,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,12,Transient,157.71,12,4,Check-Out,2017-09-07
119388,City Hotel,12,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,12,Transient,104.40,12,12,Check-Out,2017-09-07
119389,City Hotel,12,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,12,Transient,151.20,12,2,Check-Out,2017-09-07

In [8]:
var.replace("[A-za-z]","python",regex=True)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,pythonpythonpythonpythonpythonpython pythonpyt...,0,342,2015,pythonpythonpythonpython,27,1,0,0,2,...,pythonpython pythonpythonpythonpythonpythonpyt...,NaN,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,0.00,0,0,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-01
1,pythonpythonpythonpythonpythonpython pythonpyt...,0,737,2015,pythonpythonpythonpython,27,1,0,0,2,...,pythonpython pythonpythonpythonpythonpythonpyt...,NaN,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,0.00,0,0,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-01
2,pythonpythonpythonpythonpythonpython pythonpyt...,0,7,2015,pythonpythonpythonpython,27,1,0,1,1,...,pythonpython pythonpythonpythonpythonpythonpyt...,NaN,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,75.00,0,0,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-02
3,pythonpythonpythonpythonpythonpython pythonpyt...,0,13,2015,pythonpythonpythonpython,27,1,0,1,1,...,pythonpython pythonpythonpythonpythonpythonpyt...,304.0,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,75.00,0,0,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-02
4,pythonpythonpythonpythonpythonpython pythonpyt...,0,14,2015,pythonpythonpythonpython,27,1,0,2,2,...,pythonpython pythonpythonpythonpythonpythonpyt...,240.0,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,98.00,0,1,pythonpythonpythonpythonpython-pythonpythonpython,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,pythonpythonpythonpython pythonpythonpythonpyt...,0,23,2017,pythonpythonpythonpythonpythonpython,35,30,2,5,2,...,pythonpython pythonpythonpythonpythonpythonpyt...,394.0,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,96.14,0,0,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-06
119386,pythonpythonpythonpython pythonpythonpythonpyt...,0,102,2017,pythonpythonpythonpythonpythonpython,35,31,2,5,3,...,pythonpython pythonpythonpythonpythonpythonpyt...,9.0,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,225.43,0,2,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-07
119387,pythonpythonpythonpython pythonpythonpythonpyt...,0,34,2017,pythonpythonpythonpythonpythonpython,35,31,2,5,2,...,pythonpython pythonpythonpythonpythonpythonpyt...,9.0,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,157.71,0,4,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-07
119388,pythonpythonpythonpython pythonpythonpythonpyt...,0,109,2017,pythonpythonpythonpythonpythonpython,35,31,2,5,2,...,pythonpython pythonpythonpythonpythonpythonpyt...,89.0,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,104.40,0,0,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-07
119389,pythonpythonpythonpython pythonpythonpythonpyt...,0,205,2017,pythonpythonpythonpythonpythonpython,35,29,2,7,2,...,pythonpython pythonpythonpythonpythonpythonpyt...,9.0,NaN,0,pythonpythonpythonpythonpythonpythonpythonpyth...,151.20,0,2,pythonpythonpythonpythonpython-pythonpythonpython,2017-09-07

In [10]:
var

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [12]:
var.replace({"is_canceled":'[A-z]'},22,regex=True)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [13]:
var.replace(1,method="ffill",limit=3,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4596\2766965574.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1,method="ffill",limit=3,inplace=True)